body {
  background-color: $off-white;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: auto;
}

ul {
  list-style: none;
  li {
    margin: 0.3rem 0;
    font-family: $poppins;
  }
}

a {
  text-decoration: none;
  color: $black;
}

p, label {
  font-family: $poppins;
  color: $black;
  line-height: 21px;
}

input[type="text"], textarea {
  font-family: $poppins !important;
  font-size: 1.1rem;
}

.btn {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  display: inline-block;
}



